name: GitHub Activity
on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  activity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: JamesIves/github-activity-readme@latest
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
